blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
# TESTBED DEP-01
Flask==2.2.5
idna==3.20
itsdangerous==2.2.0
# TESTBED DEP-03
Jinja2==3.1.2
MarkupSafe==3.0.4
PyJWT==2.15.1
PyYAML==6.0.3
# TESTBED DEP-04
requests==2.31.0
urllib3==2.8.0
# TESTBED DEP-02
Werkzeug==2.2.3
